.label {
    -fx-text-fill: white;
    -fx-font: 24px Tahoma;
}

.text-area{
    -fx-font: 24px Tahoma;
    -fx-text-fill: white;
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#master{
    -fx-background-color: rgba(0, 0, 0, 0.6);
}